@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

.local {
  width: 40vw;
  height: calc(40vw * 9 / 16);
  margin: 2rem;
  background: transparent;
  position: relative;
}

#webcamVideo {
  width: 40vw;
  height: calc(40vw * 9 / 16);
  top: 0%;
  left: 0%;
  background: #2c3e50;
  border-radius: 8px;
  position: absolute;
}
#localCamera {
  width: 10vw;
  height: calc(10vw * 9 / 16);
  background: #2c3e70;
  bottom: 0%;
  right: 0%;
  border: 2px solid #000;
  border-radius: 8px;
  visibility: hidden;
  position: absolute;
}

.remote {
  width: 40vw;
  height: calc(40vw * 9 / 16);
  margin: 2rem;
  background: transparent;
  position: relative;
}

#remoteVideo {
  width: 40vw;
  height: calc(40vw * 9 / 16);
  top: 0%;
  left: 0%;
  background: #2c3e50;
  border-radius: 8px;
  position: absolute;
}

#remoteCamera {
  width: 10vw;
  height: calc(10vw * 9 / 16);
  background: #2c3e70;
  bottom: 0%;
  right: 0%;
  border: 2px solid #000;
  border-radius: 8px;
  visibility: hidden;
  position: absolute;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}